<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{{title}}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Page 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Page 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Page 3</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content of page -->
    <main role="main">

        <!-- Jumbotron -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-1">{{title}}</h1>
                <p class="lead">{{body}}</p>
                <p><a href="#" class="btn btn-primary btn-lg">Button</a></p>
            </div>
        </div>

        <!-- Main bodyt -->
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic eum voluptate modi velit voluptatem odio eos ipsam doloremque omnis, et in nesciunt labore corrupti dolorum vel quas iure! Id?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugiat a maiores sed maxime autem, quae amet eveniet temporibus eius in commodi molestias officia, ullam dicta, expedita repellat libero! Itaque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium explicabo assumenda quod iusto eius? Quis doloribus rem, ab aut perferendis consequuntur illo consequatur laboriosam dolore necessitatibus itaque, quidem aperiam libero!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quaerat repudiandae ipsam voluptatibus, rerum nulla facilis inventore esse autem sapiente perferendis ab quas corporis tempore voluptatum delectus dolore! Recusandae, voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nulla libero adipisci dolorum totam facere, quia aut vero provident, necessitatibus laudantium! At odio unde repellat atque exercitationem autem voluptate expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae molestias dignissimos, cupiditate fuga amet sequi quaerat deserunt. Dolores aliquid eligendi repellendus consequuntur minus voluptatibus voluptatum ab excepturi quibusdam, libero facere!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloremque impedit possimus id ipsa pariatur reiciendis, hic aliquam repellat accusantium, maxime vel porro, quasi similique maiores asperiores est. Earum, doloribus!</p>
        </div>

    </main>

    <!-- Footer -->
    <footer class="bg-light border-top text-muted py-3 mt-3">
        <div class="container">
            <p>&copy; Company</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </footer>

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS + Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>

    <!-- Main JS -->
    <script src="/js/main.js"></script>

</body>
</html>